{% assign navPages = collections.header | eleventyNavigation %}

<header class="Header">
  <div class="Container">
    <a class="Header__Site-Title" href="/" aria-label="{{ site.name }}">
      {% svg "logo" %}
    </a>
    <nav class="Header__Nav" data-menu="closed">
      <ul class="MainNav">
        {% for entry in navPages %}
          <li class="MainNav__Item">
            <a class="MainNav__Link" href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <button class="Header__NavToggle" aria-expanded="false" aria-label="Open site navigation" aria-haspopup="true">
      Menu
    </button>
  </div>
</header>
