.MusicList {
  list-style-type: none;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  margin: 0;
}

.MusicList__Image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
  background: var(--color-main);
  color: var(--color-light);
  margin-bottom: 10px;
}

.MusicNavigation {
  display: block;
}
.MusicNavigation__List {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}
.MusicNavigation__Item {
  margin: 0;
  padding: 0;
}

.MusicNavigation__Link {
  padding: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    display: none;
  }
  &:hover {
    color: var(--color-alt);
  }
}

.MusicNavigation [aria-current]:not([aria-current='false']) {
  background-color: var(--color-secondary);
  border-radius: 9999em;
  font-weight: 700;
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (--mq-phablet-and-up) {
  .MusicList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (--mq-tablet-and-up) {
  .MusicList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (--mq-lap-and-up) {
  .MusicList {
    grid-template-columns: repeat(5, 1fr);
  }
}

.MusicList__ImgWrap {
  position: relative;
  display: block;
}

.MusicList__Formats {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.MusicList__Image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.MusicList__Title {
  font-weight: 700;
  color: var(--color-main);
}

.MusicList__Title,
.MusicList__Artist,
.MusicList__Meta {
  display: block;
}

.MusicList__Meta {
  opacity: 0.8;
}

.MusicStats {
  margin-bottom: 2em;
}
.MusicStats__List {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.MusicStats__Item {
  color: var(--color-alt);
}
.MusicStats__Item strong {
  color: var(--color-dark);
}
