/* base settings */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family-sans);
  background-color: var(--color-white);
  /* background-image: url('../images/bg.jpg'); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  color: var(--color-black);
  margin: 0;
}
