/* Label */
label {
}

/* Input Types */
input[type='color'],
input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
textarea {
  /* Focus Styles - uses outline for A11y */
  &:focus-visible {
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

/* Accent Colour for form elements */
input[type='checkbox'],
input[type='radio'],
input[type='range'],
progress {
  accent-color: var(--color-main);
}
