---
title: '404 | Discoliam'
description: '404 Error'
layout: 'layouts/page.html'
---

<div class="Container">
  <div class="Page-Title Page-Title--error">
    <h1>{{fourohfour.page_title  | safe}}</h1>
    {{fourohfour.content  | safe}}
    <a href="/" class="Button">{{fourohfour.button}}</a>
  </div>
</div>


