---
title: 'Contact | Discoliam'
description: 'Get in touch about your project.'
layout: 'layouts/full-width.html'
tags: header
eleventyNavigation:
  key: Contact
  order: 6
---

<div class="Container">

    <h1>{{ contact.page_title }}</h1>

      <p>Give me a bell on the form bellow, or using any of the channels in the footer (even LinkedIn if you <em>really</am> have too...) and I'll get back to you asap.</p>

      <form id="ContactForm" name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field" data-netlify-recaptcha="true">
        <div class="sr-only">
          <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
          </label>
        </div>

        <div class="input-wrap">
          <label for="name">Your Name: <abbr title="required">*</abbr></label>
          <input type="text" name="name" placeholder="Firstname Surname" required />
        </div>

        <div class="input-wrap">
          <label for="email">Your Email: <abbr title="required">*</abbr></label>
          <input type="email" name="email" required placeholder="hello@example.com" />
        </div>

        <div class="input-wrap">
          <label for="message">Message: <abbr title="required">*</abbr></label>
          <textarea name="message" placeholder="..." required></textarea>
        </div>

        <div data-netlify-recaptcha="true"></div>

        <input type="hidden" name="subject" value="Enquiry from Otaku Website" />

        <button type="submit" class="Button">Send</button>

      </form>
      <div class="Contact__Message">
        <p class="Contact__MessageText Contact__MessageText--success">{{ contact.success }}</p>
        <p class="Contact__MessageText Contact__MessageText--error">{{ contact.error }}</p>
      </div>




</div>
