---
title: 'Services | Discoliam'
layout: 'layouts/full-width.html'
tags: header
eleventyNavigation:
  key: Services
  order: 3
---

<h1>Services</h1>
<p>As a developer, I like to use technology to help as best I can. I focus on Performance, Accessability and the envriomental impact of digital products. I can help you with:</p>
<ul>
  <li>UX Design & Digital Stratergy</li>
  <li>Technical Planing / Architecture</li>
  <li>Web Development</li>
  <li>Performance & Accesability Consultancy</li>
</ul>